.fatie{margin-top: 30px}

.fatie h1 { width:100%; text-align: center; display:block; line-height:2.5em; overflow:visible; font-size:30px; text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0}

.title {line-height: 80px}
.title span {font-size: 25px;}
.titleinput {height: 22px;text-align: center; }
.tjs {float: right;margin-right: 25px}
.tijiao{text-align: center;margin-top: 25px}